table {
  width: 100%;
  border-collapse: collapse; /* Menyatukan border */
}

th,
td {
  padding: 8px; /* Menambah jarak dalam sel */
  text-align: left; /* Rata kiri untuk teks */
  border-bottom: 1px solid #ddd; /* Border bawah pada setiap sel */
}

tbody tr {
  border-bottom: 1px solid #ddd; /* Border bawah pada setiap baris */
}

/* Tambahan untuk efek hover jika diinginkan */
tbody tr:hover {
  background-color: #f1f1f1; /* Warna latar belakang saat hover */
}

.div-utama {
  width: 50%;
  height: 100%;
  border-right: 1px solid #ccc;
  box-sizing: border-box;
}

.div-sub {
  font-size: 1.6em;
  font-weight: bold;
  color: white;
  background-color: #ad1d0d;
  text-align: center;
  padding: 20px 30px;
  margin-bottom: 30px;
  margin-right: 10px;
  border-radius: 10px;
}

.div-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
  height: 80vh;
}
