<div ng-controller="FolderController">
  <div style="display: flex; height: 97vh; box-sizing: border-box">
    <!-- Sidebar kiri untuk folder -->
    <div class="div-utama">
      <div class="div-sub">Panel Kiri</div>
      <div class="card div-card">
        <div
          class="m-portlet__body"
          style="margin-left: 30px; margin-right: 20px"
        >
          <div class="form-group m-form__group row">
            <div class="col-lg-4 col-md-6 col-sm-12">
              <h3>Folder</h3>
              <table>
                <thead>
                  <tr>
                    <th>Nama File</th>
                    <th>Size</th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    *ngFor="let folder of folders"
                    (click)="loadSubFolders(folder.id)"
                  >
                    <td>{{ folder.name_folder }}</td>
                    <td>{{ folder.ukuran_folder }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Tabel kanan untuk subfolder dan file -->
    <div class="div-utama">
      <div class="div-sub" style="margin-left: 10px">Panel Kanan</div>
      <div class="card div-card" style="margin-left: 10px">
        <div
          class="m-portlet__body"
          style="margin-left: 30px; margin-right: 20px"
        >
          <div class="form-group m-form__group row">
            <div class="col-lg-4 col-md-6 col-sm-12">
              <h3>SubFolder</h3>

              <table *ngIf="subfolders.length > 0">
                <thead>
                  <tr>
                    <th>Nama File</th>
                    <th>Size</th>
                  </tr>
                </thead>
                <tbody>
                  <ng-container *ngFor="let subfolder of subfolders">
                    <tr (click)="toggleSubfolder(subfolder.id)">
                      <td>{{ subfolder.name_subfolder }}</td>
                      <td>{{ subfolder.ukuran_subfolder }}</td>
                    </tr>

                    <tr *ngIf="activeSubfolderId === subfolder.id">
                      <td colspan="2">
                        <ul *ngIf="files.length > 0; else noFilesTemplate">
                          <li *ngFor="let file of files">
                            {{ file.name_files }} - {{ file.ukuran_files }}
                          </li>
                        </ul>
                        <!-- Template untuk "No files" -->
                        <ng-template #noFilesTemplate>
                          <p>No files</p>
                        </ng-template>
                      </td>
                    </tr>
                  </ng-container>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
