<!-- <div class="row"> -->
<div class="col col-sidebar bg-primary-100 h-screen p-3">
  <ul class="list-none p-0">
    <li class="mb-3">
      <button
        pButton
        type="button"
        label="Dashboard"
        icon="pi pi-home"
        class="p-button-text"
        (click)="dashboard()"
      ></button>
    </li>
    <li class="mb-3">
      <button
        pButton
        type="button"
        label="Modul"
        icon="pi pi-book"
        class="p-button-text"
        (click)="modul()"
      ></button>
    </li>
    <li class="mb-3">
      <button
        pButton
        type="button"
        label="Peserta"
        icon="pi pi-users"
        class="p-button-text"
        (click)="peserta()"
      ></button>
    </li>
    <li class="mb-3">
      <button
        pButton
        type="button"
        label="Pemateri"
        icon="pi pi-user"
        class="p-button-text"
        (click)="pemateri()"
      ></button>
    </li>
    <li class="mb-3">
      <button
        pButton
        type="button"
        label="Logout"
        icon="pi pi-sign-out"
        class="p-button-text"
        (click)="logout()"
      ></button>
    </li>
  </ul>
</div>
<!-- </div> -->
