<div class="row">
  <!-- Logo -->
  <div
    class="col col-2 justify-content-center align-items-center"
    style="display: flex"
  >
    <img src="./assets/logo1.png" alt="logo" class="img-fluid" />
  </div>

  <!-- Top bar -->
  <div class="col col-4" style="display: flex; align-items: center">
    <h4>LEARNING MANAGEMENT SYSTEM</h4>
  </div>

  <!-- Search Bar -->
  <div class="col col-6">
    <div class="search-container">
      <input type="text" class="search-input" placeholder="Search class..." />
      <p-button
        icon="pi pi-search"
        class="p-button-rounded p-button-text p-button-grey"
      ></p-button>
      <p-button
        icon="pi pi-bell"
        class="p-button-rounded p-button-text"
      ></p-button>
      <p-button
        icon="pi pi-envelope"
        class="p-button-rounded p-button-text"
      ></p-button>
    </div>
  </div>
</div>
